@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}
.geofilter-page {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  background-color: #ffffff;
  color: #808080;
  margin-top: -36px;
  font-family: 'SFUIDisplay-Light';
  margin-bottom: 100px;
  .geofilter-title{
    text-align: center;
    width: 420px;
  }

  .description{
    text-align: center;
    margin: auto;
    margin-top: 35px;
    width: 100%;
    max-width: 570px;
  }

  .main-area{
    margin-top: 50px;
    .membership-area{
      display: inline-block;
      padding: 0px 70px;
      position: relative;
      .membership-title{
        color: #9f7f2e;
        font-size: 18pt;
      }
      .membership-button{
        margin-top: 15px;
        width: 320px;
        height: 70px;
        border-radius: 35px;
        border: 2px solid  #74af83;
        line-height: 70px;
        cursor: pointer;
        color: #90cb9f;
        font-size: 25pt;
        transition: background-color 0.5s;
        background-color: #ffffff;
        position: relative;
        &:hover{
          transition: background-color 0.5s;
          background-color:  #74af83;
        }
        z-index: 999;
      }
      .membership-description{
        margin-top: 40px;
        font-size: 15pt;
        color: #b6b4b4;
      }
      .three-months-free{
        position: absolute;
        left: 355px;
        top: 98px;
      }
    }
  }
  .download-area{
    margin-top: 60px;
    .title{
      font-size: 17pt;
      color: #706d6d;
    }
    .download-button{
      background-color: #b4a566;
      width: 260px;
      color: white;
      height: 56px;
      font-size: 17pt;
      line-height: 56px;
      cursor: pointer;
      display: inline-block;
      margin: 32px 40px auto;
    }
  }
  text-align: center;
}