@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}
@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('/assets/fonts/SFUIDisplay-Semibold.otf');
}
.geofilter-upload-page {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  background-color: #f6f5f7;
  font-family: 'SFUIDisplay-Light';
  .loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
  }
  .content{
  	margin-top: 50px;
  	.header{
  		background-color: white;
  		padding: 25px;
  		box-sizing: border-box;
  		height: 95px;
  		.left{
  			display: inline-block;
	  		.logo-gray{
	  			width: 43px;
	  			display: inline-block;
	  			vertical-align: middle;
	  		}
	  		.title{
	  			display: inline-block;
	  			font-size: 30pt;
	  			vertical-align: middle;
	  			padding: 0px 15px;
	  			border-right: 1px solid #b7b7b8;
	  			box-sizing: border-box;
	  			color: #4d4c4d;
	  		}
	  		.sub-title{
	 			display: inline-block;
	  			font-size: 24pt;
	  			vertical-align: middle;
	  			color: #4d4c4d;
	  			padding: 0px 15px;
	  		}

	  	}
	  	.right{
	  		display: inline-block;
			float: right;
			.download{
				display: inline-block;
				color: #919090;
				font-size: 10pt;
			} 
			.download-button{
				display: inline-block;
				background-color: #b4a566;
				width: 170px;
				color: white;
				height: 37px;
				font-size: 11pt;
				line-height: 37px;
				cursor: pointer;
				display: inline-block;
				margin: 5px 27px auto;
				text-align: center;
			}
			
	  	}
  	}
  	.body{
  		padding: 6px;
  		display: flex;
  		position: absolute;
  		bottom: 0;
  		top: 145px;
  		width: 100%;
  		.side-window{
  			background-color: #90cb9f;
  			width: 300px;
  			float: right;
  			box-sizing: border-box;
  			border: 2px solid #4c4d4e;
  			padding: 12px;
  			overflow-y: auto;
  			.upload-box{
  				width: 157px;
  				height: 280px;
  				background-color: white;
  				cursor: pointer;
  				padding: 20px 0px;
  				box-sizing: border-box;
  				margin: auto;
  				border: 1px solid #4c4d4e;
  				position: relative;
  				.plus{
  					margin: 37px;
  					width: 81px;
  				}
  				.description{
  					color: #b0b0b0;
  					font-size: 10pt;
  					text-align: center;
  					margin: auto;
  				}
  				.pic-preview{
  					transition: opacity 1.0s;
  					position: absolute;
  					left: 0;
  					width: 100%;
  					top: 0;
  					height: 100%;
  					opacity: 0;
  					background-color: white;
  					&.valid{
  						transition: opacity 1.0s;
  						opacity: 1;
  					}
  				}

  			}
  			.sliding-area{
  				font-size: 10pt;
  				color: white;
  				margin-top: 5px;
  				.radius-label{
  					float: left;
  				}
  				.radius{
  					float: right;
  					font-family: 'SFUIDisplay-Semibold';
  				}
  				.slider{
  					float: left;
  					margin-top: 10px;
  					height: 2px;
  					.rc-slider-handle {
					  margin-left: -9px;
					  margin-top: -9px;
					  width: 18px;
					  height: 18px;
					  border: none;
					  &:hover{
					  	border: 1px solid #b4a566;
					  }
					  box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
					}
					.rc-slider-track{
						height: 2px;
						background-color: #b4a566;
					}
  				}
  			}
  			.side-window-input{
  				width: 100%;
  				border: none;
  				resize: none;
  				padding: 6px 8px;
  				color: #4c4d4e;
  				font-size: 14pt;
  				display: block;
  			}
  			.description{
  				height: 68px;
  				margin-top: 45px;
  			}
  			.name{
  				height: 43px;
  				margin-top: 8px;
  				padding: 9px 8px;
  				box-sizing: border-box;
  			}
  			.email{
  				height: 43px;
  				margin-top: 8px;
  				padding: 9px 8px;
  				box-sizing: border-box;
  			}
			.checkbox-area{
				margin-top: 8px;
				.checkbox{
					width: 23px;
					height: 23px;
					box-sizing: border-box;
					border: 1px solid white;
					border-radius: 50%;
					cursor: pointer;
					.checkbox-fill{
						transition: opacity 0.5s;
						opacity: 0;
						width: 23px;
						margin-top: -1px;
						margin-left: -1px;
						&.checked{
							transition: opacity 0.5s;
							opacity: 1;
						}
					}
					display: inline-block;
					vertical-align: middle;
				}
				.checkbox-description{
					width: 220px;
					font-size: 8pt;
					margin-left: 6px;
					display: inline-block;
					.checkbox-link{
						color: #4949a5;
						cursor: pointer;
					}
					vertical-align: middle;
				}
			}
			.submit{
				background-color: lightgray;
				color: white;
				height: 16px;
				margin: 8px auto;
				width: 173px;
				height: 37px;
				line-height: 37px;
				text-align: center;
				transition: background-color 0.5s;
				cursor: default;
				&.valid{
					transition: background-color 0.5s;
					background-color: #b4a566;
					cursor: pointer;
				}
			}
		}
		.google-map-area{
			position: relative;
			width: ~"calc(100% - 300px)";
			width: ~"-moz-calc(100% - 300px)";
			width: ~"-webkit-calc(100% - 300px)";
			width: ~"-o-calc(100% - 300px)";
			height: 100%;
			.google-map{
				width: 100%;
				height: 100%;
        &.pin-drop-cursor .gm-style>div:first-child{
          cursor: url('../../assets/img/pin.png') 16 32, default !important;
        }
			}
			#pac-input {
		        background-color: #fff;
		        font-family: Roboto;
		        font-size: 15px;
		        font-weight: 300;
		        margin-left: 12px;
		        padding: 5px 10px;
		        text-overflow: ellipsis;
		        width: 300px;
		        top: 10px !important;
		        border: none;
		      }

			#pac-input:focus {
				outline: none;
			}
			.drop-pin{
				position: absolute;
				width: 75px;
				height: 75px;
				border: 2px solid white;
				background-color: #777675;
				border-radius: 50%;
				right: 23px;
				top: 3px;
				cursor: pointer;
				opacity: 0.5;
				&.dropping{
					opacity: 1;
				}
				&:hover{
					transition: opacity 0.5s;
					opacity: 1;
				}
				.drop-pin-img{
					display: block;
					margin: 11px auto;
				}
			}
		}
		
	}
  }
}
.rc-tooltip{
	display: none;
}