@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('/assets/fonts/SFUIDisplay-Semibold.otf');
}
@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}
@font-face {
  font-family: 'SFUIDisplay-Ultralight';
  src: url('/assets/fonts/SFUIDisplay-Ultralight.otf');
}
.nearby-page {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  .event-view{
    margin: auto;
    margin-bottom: 50px;
  }
  .events-status{
    color: #90cb9f;
    font-size: 20pt;
    margin-top: 20px;
    text-align: center;
  }
  background-color: #f6f5f7;
  .event-restrict-overlay{
  	position: fixed;
  	left: 0; top: 0; right: 0; bottom: 0;
  	.overlay{
  		width: 100%;
  		height: 100%;
  		background-color: rgba(0, 0, 0, 0.5);
  	}

  	.popup{
  		position: absolute;
  		left: 50%;
  		top: 50%;
  		-webkit-transform: translate(-50%, -50%);
     	-ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 22px;
        text-align: center;
        border-radius: 15px;
        width: 237px;
        box-sizing: border-box;
        .title{
        	font-size: 20px;
        	line-height: 50px;
        	font-family: 'SFUIDisplay-Light';
        }
        .description{
        	font-size: 18px;
        	font-family: 'SFUIDisplay-Ultralight';
        	font-weight: 100;
        }
        .appstore-download{
        	width: 133px;
        	cursor: pointer;
        }
        .close-button{
        	width: 28px;
        	cursor: pointer;
        	position: absolute;
        	right: 23px;
        	top: 10px;
        }
  	}
  }
}