@import (reference) "../../style/theme.less";
@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('/assets/fonts/SFUIDisplay-Semibold.otf');
}
@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}
.side-menu {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  position: absolute;
  right: 0;
  top: 380px;
  padding: 20px;
  .facebook-menu{
    margin-left: 15px;
    width: 25px;
    display: inline-block;
    img{
      width: 25px;
    }
  }
  .twitter-menu{
    width: 20px;
    display: inline-block;
    img{
      width: 25px;
    }
  }
  font-family: 'SFUIDisplay-Semibold';
  font-size: 12px;
  color: #808080;
  div{
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
      opacity: 0.5;
    }
  }
  span{
    cursor: default;
    opacity: 0.5;
  }

  &.fixed{
    position: fixed;
    top: 80px;
  }
}
