@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('/assets/fonts/SFUIDisplay-Semibold.otf');
}

body {
    margin: 0;
    background-color: #f6f5f7;
    font-family: 'SFUIDisplay-Semibold';
}

.center-page {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
	width: 100%;
}

.full-screen{
	position: fixed;
	background-color: white;
	top: 50px;
	bottom: 50px;
	left: 0;
	right: 0;
	overflow-y: auto;

  .center-page{
    min-height: 100%;
  }
}