@import (reference) "../../style/theme.less";
@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('/assets/fonts/SFUIDisplay-Semibold.otf');
}

.bottom-menu {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  position: fixed;
  background-color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 40px;
  font-family: 'SFUIDisplay-Semibold';
  color: #808080;
  text-align: center;
  box-sizing: border-box;
  .clickables{
    vertical-align: middle;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    white-space: nowrap;
    position: relative;
    div:not(:first-child){
      margin-left: 33px;
    }
    &>div{
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
      &:hover{
        opacity: 0.5;
      }
    }
    .facebook-menu, .twitter-menu{
      width: 33px;
    }
  }
  
  .company-description{
    cursor: default;
    opacity: 0.5;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(0%, -50%);
  }
}
