@import (reference) "../../style/theme.less";
@font-face {
  font-family: 'GrandHotel-Regular';
  src: url('/assets/fonts/GrandHotel-Regular.ttf');
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
.header-view {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/

  background-color: #90cb9f;
  width: 100%;
  padding-top: 80px;
  color: white;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index:  10000;

  &.fixed{
    position: fixed;
    height: 50px;
    padding-top: 0px;
    background-color: initial;
    .header-original-view{
      display: none;
    }
    .fixed-header-view{
      opacity: 1;
      transform: scale(1,1) translate(0, 0);
    }
    
  }

  .header-original-view{
    .header-logo-icon{
      position: absolute;
      left: 20px;
      top: 5px;
      cursor: pointer;
      &:hover{
        animation: pulse 0.5s ease;  
      }
    }

    .header-logo{
      font-family: 'GrandHotel-Regular';
      font-size: 90pt;
      line-height: 90px;
    }
    
    .header-description{
      font-size: 18pt;
      font-weight: semi-bold;
    }
    
    .appstore-download{
      img{
        margin-top: 30px;
        width: 122px;
        height: 44px;
      }
    }

    .title{
      margin-top: 30px;
      color: #90cb9f;
      padding: 16px 0px;
      background-color: #f6f5f7;
    }
  }

  .fixed-header-view{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    background-color: #90cb9f;
    transition: opacity 0.5s, transform 0.5s;
    transform: scale(1, 1) translate(0, 0);
    opacity: 1;
    .header-logo{
      font-family: 'GrandHotel-Regular';
      font-size: 27pt;
      line-height: 50px;
      white-space: nowrap;
      display: inline-block;
      cursor: pointer;
      &:hover{
        animation: pulse 0.5s ease;  
      }
    }
    &.hidden{
      transition: opacity 0.1s, transform 0.1s;
      transform: scale(1, 0) translate(0,-100%);
      opacity: 0;
    }
    .header-logo-icon{
      position: absolute;
      left: 20px;
      top: 5px;
      cursor: pointer;
      &:hover{
        animation: pulse 0.5s ease;  
      }
    }
  }
}
