@import (reference) "../../style/theme.less";

.social-button {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  
  transition: all  0.5s;
  -webkit-transition: all  0.5s;
  -moz-transition: all  0.5s;
  -ms-transition: all  0.5s;
  -o-transition: all  0.5s;
  -ms-transform: scale(1, 1) translate(-50%, -50%);
  -webkit-transform: scale(1, 1) translate(-50%, -50%);
  -moz-transform: scale(1, 1) translate(-50%, -50%);
  -o-transform: scale(1, 1) translate(-50%, -50%);
  transform: scale(1, 1) translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  .social-button-icon{
    margin: auto;
    display: block;
    width: 100%;
  }
  .social-button-title{
    position: absolute;
    left: 50%;
    color: white;
    text-align: center;
    margin-top: 9px;
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    font-size: 12px;
  }

  &:hover{
    transition: all  0.5s;
    -webkit-transition: all  0.5s;
    -moz-transition: all  0.5s;
    -ms-transition: all  0.5s;
    -o-transition: all  0.5s;
    -ms-transform: scale(1.2, 1.2) translate(-42%, -50%);
    -webkit-transform: scale(1.2, 1.2) translate(-42%, -50%);
    -moz-transform: scale(1.2, 1.2) translate(-42%, -50%);
    -o-transform: scale(1.2, 1.2) translate(-42%, -50%);
    transform: scale(1.2, 1.2) translate(-42%, -50%);
  }
}
