@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}
.contact-success-page {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  background-color: #f6f5f7;
  color: #808080;
  margin-top: -40px;
  font-family: 'SFUIDisplay-Light';
  margin-bottom: 100px;
  .success-yes{
    width: 160px;
    margin-top: 110px;
  }
  .title{
    text-align: center;
    font-size: 27pt;
    margin-top: 65px;
  }
  .content{
    font-size: 14pt;
    max-width: 550px;
    margin: 55px auto;
  }
  text-align: center;
}