@import (reference) "../../style/theme.less";

@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('/assets/fonts/SFUIDisplay-Semibold.otf');
}

@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}

.link-expired {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  font-family: 'SFUIDisplay-Light';
  color: #7b7c7c;
  text-align: center;
  .title{
    font-size: 37px;
    
  }
  .description{
    font-size: 20px;
    white-space: pre;
    margin-top: 20px;
  }

  .appstore-download{
    width: 170px;
    display: block;
    margin: auto;
    margin-top: 45px;
  }

  .link-expired-monkey{
    width: 218px;
    display: block;
    margin: auto;
    margin-top: 25px;
  }

}
