@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}
.policy-page {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  background-color: #f6f5f7;
  color: #808080;
  font-family: 'SFUIDisplay-Light';
  .policy-form{
    background-color: white;
    max-width: 460px;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    height: 610px;
    padding: 20px;
    .title{
      text-align: center;
      font-size: 27pt;
    }
    .content{
      font-size: 14pt;
      margin: 75px auto;
    }
  }
  
  text-align: center;
}