@import (reference) "../../style/theme.less";
@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}
@font-face {
  font-family: 'GrandHotel-Regular';
  src: url('/assets/fonts/GrandHotel-Regular.ttf');
}

.embed-view {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/

  
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 500px;
  min-width: 30%;
  
  .video-wrapper{
    padding: 0px 70px 45px 70px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .title{
      font-family: 'GrandHotel-Regular';
      font-size: 27pt;
      line-height: 70px;
      color: #90cb9f;
      text-align: center;
    }
    .event-video-box{
      width: 100%;
      padding-top: 100%;
      position: relative;
      overflow: hidden;
      .event-video{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-bottom: -4px;
        object-fit: cover;
        span{
          transform: translateY(-50%);
          font-size: 50px;
        }
      }
      .sound-onoff{
        position: absolute;
        transition: opacity 0.5s;
        top: 5px;
        left: 5px;
        cursor: pointer;
        opacity: 0;
      }
      &:hover .sound-onoff{
        transition: opacity 0.5s;
        opacity: 1;
      }
    }
  }

  .footer{
    padding: 7px 14px 12px 14px;
    background-color: #d3d3d3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .controls{
      color: white;
      font-size: 20px;
      font-family: 'SFUIDisplay-Light';
      span:first-child{
        margin-right: 20%;
      }
      span{
        vertical-align: middle;
      }
    }

    .textarea{
      width: 100%;
      resize: none;
      font-size: 18px;
      margin-top: 7px;
      border: none;
      padding: 5px;
    }
  }
}
