@import (reference) "../../style/theme.less";
@font-face {
  font-family: 'SFUIDisplay-Ultralight';
  src: url('/assets/fonts/SFUIDisplay-Ultralight.otf');
}
.event-view {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  background-color: white;
  width: 100%;
  max-width: 400px;
  min-width: 30%;
  display: block;
  //box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  
  .event-header{
  	height: 60px;
  	padding: 6px 23px;
  	box-sizing: border-box;
  	.event-avatar{
  		width: 44px;
  		height: 44px;
  		border-radius: 50%;
  		display: inline-block;
  		vertical-align: middle;
      cursor: pointer;
  	}
    .event-avatar-border{
      border: 1px solid black;
    }
  	.event-owner-info{
  		display: inline-block;
  		margin-left: 7px;
  		vertical-align: middle;
  		.event-owner-name{
  			color: black;	
  			font-size: 16px;
  			line-height: 18px;
  			font-weight: bold;
        cursor: pointer;
  		}
  		.event-time-and-distance{
  			color: #959595;
  			font-size: 12px;
  			line-height: 14px;
  		}
  	}
  	.event-vote{
  		width: 29px;
  		height: 29px;
  		margin-top: 7px;
  		float: right;
  		background-color: #fb7e8e;
  		color: white;
  		border-radius: 50%;
  		text-align: center;
  		line-height: 29px;
  		font-size: 12px;
      cursor: pointer;
  	}
  }

  .event-video-box{
  	width: 100%;
  	padding-top: 100%;
  	position: relative;
  	overflow: hidden;
    
    .buffering-progress-bar{
      position: absolute;
      left: 0;
      top: 0;
      height: 3px;
      background-color: #90cb9f;
    }
    .event-video-failed{
      text-align: center;
      padding-top: 50%;
    }
  	.event-video{
  		position: absolute;
  		width: 100%;
  		height: 100%;
  		left: 0;
  		top: 0;
  		margin-bottom: -4px;
  		object-fit: cover;
      span{
        transform: translateY(-50%);
        font-size: 50px;
      }
  	}
    .sound-onoff{
      position: absolute;
      transition: opacity 0.5s;
      top: 5px;
      left: 5px;
      cursor: pointer;
      opacity: 0;
    }
    &:hover .sound-onoff{
      transition: opacity 0.5s;
      opacity: 1;
    }

    .link-copied{
      position: absolute;
      width: 32%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.5s;
      opacity: 1;
      &.hidden{
        transition: opacity 0.5s;
        opacity: 0;
        pointer-events: none;
      }
    }

  	.event-social-overlay{
  		transition: -ms-transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s, transform 0.5s, opacity 0.5s;
      -ms-transform: translate(0%, 0%);
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
  		position: absolute;
  		width: 100%;
  		height: 26%;
  		left: 0;
  		bottom: 0;
  		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  		opacity: 1;
  		.play-button{
  			width: auto;
  			height: 25%;
  			top: 50%;
  			left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
  			transform: translate(-50%, -50%);
  			position: absolute;
  			transition: opacity 0.5s;
  			opacity: 0.5;
  			&:hover{
  				transition: opacity 0.5s;
  				opacity: 1;
  			}
  		}
  		&.hidden{
  			transition: -ms-transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s, transform 0.5s, opacity 0.5s;
  			opacity: 0;
        -ms-transform: translate(0%, 100%);
        -webkit-transform: translate(0%, 100%);
        -moz-transform: translate(0%, 100%);
        -o-transform: translate(0%, 100%);
        transform: translate(0%, 100%);
        pointer-events: none;
  		}
  	}
  }

	.event-footer{
		padding: 0px 13px;
    position: relative;
		.event-description{
			font-size: 13px;
			padding: 8px;
		}
		.event-footer-seperator{
			background-color: #e8e8e8;
			height: 1px;
			width: 100%;
		}
		.event-footer-buttons{
			padding: 8px 9px;
      position: relative;
			.event-heart-group{
				display: inline-block;
				width: 15%;
				cursor: pointer;
				.event-heart{
					width: 33px;
					height: 33px;
					display: inline-block;
					.event-heart-border{
						margin-left: -33px;
						vertical-align: middle;
					}
					.event-heart-image{
						transition: opacity 0.5s;
						opacity: 1;
						vertical-align: middle;
						width: 100%;
						height: 100%;
						&.hidden{
							transition: opacity 0.5s;
							opacity: 0;
						}
					}
				}
				.like_count{
					color: #a9a9a9;
					margin-left: 7px;
				}
			}
			.event-comment-group{
				display: inline-block;
				width: 15%;
				vertical-align: bottom;
				cursor: pointer;
				.event-comment{
					width: 33px;
					height: 33px;
					display: inline-block;
					.event-comment-icon{
						width: 100%;
						height: 100%;
						vertical-align: middle;
					}
				}
				.comment-count{
					display: inline-block;
					color: #a9a9a9;
					margin-left: 7px;
				}
			}

			.event-share{
				display: inline-block;
				width: 33px;
				height: 33px;
				vertical-align: bottom;
				.event-share-icon{
					cursor: pointer;
					width: 100%;
					height: 100%;
				}
			}

			.event-more{
				display: inline-block;
				float: right;
				width: 33px;
				height: 33px;
				vertical-align: bottom;
				.event-more-icon{
					cursor: pointer;
					width: 100%;
					height: 100%;
				}
        .event-more-dropdown{
          transition: opacity 0.5s;
          opacity: 1;
          background-color: black;
          border-radius: 10px;
          padding: 17px 17px;
          font-family: 'SFUIDisplay-Ultralight';
          font-size: 20px;
          width: 125px;
          text-align: center;
          color: white;
          box-sizing: border-box;
          margin-top: -160px;
          margin-left: -100px;

          &.hidden{
            transition: opacity 0.5s;
            opacity: 0;
            pointer-events: none;
          }

          .event-more-menu-item{
            line-height: 30px;
            cursor: pointer;
            &:hover{
              transition: color 0.5s;
              color: #90cb9f;
            }
          }
        }
			}
		}
	}
}
