@import (reference) "../../style/theme.less";
@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
.embed-simple-page {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  .event-video-box{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    .event-video{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      margin-bottom: -4px;
      object-fit: cover;
      span{
        transform: translateY(-50%);
        font-size: 50px;
      }
    }
    .sound-onoff{
      position: absolute;
      transition: opacity 0.5s;
      top: 5px;
      left: 5px;
      cursor: pointer;
      opacity: 0;
    }
    &:hover .sound-onoff{
      transition: opacity 0.5s;
      opacity: 1;
    }
  }
}
