@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/assets/fonts/SFUIDisplay-Light.otf');
}
.contact-page {
  // Feel free to add all your styles here.
  //
  // Since the styling language is not CSS, but LESS, you can nest all your
  // styles here. For more info on LESS, please refer to
  // http://lesscss.org/features/
  background-color: #f6f5f7;
  .contact-form{
    color: #808080;
    font-family: 'SFUIDisplay-Light';
    .title{
      text-align: center;
      font-size: 27pt;
    }
    .form{
      background-color: white;
      padding: 20px;
      font-size: 16pt;
      margin: 0 auto;
      max-width: 650px;
      padding-bottom: 5px;
      width: 100%;
      &>div{
        height: auto;
        overflow: hidden;
        margin-bottom: 10px;
        span{
          float: left;
          width: auto;
          overflow: hidden;
          margin-right: 12px;
        }
        &>div{
          float: none;
          width: auto;
          overflow: hidden;
          input{
            width: 100%;
            padding: 5px 15px;
            background-color: #f6f5f7;
            border: none;
            font-size: 16px;
            color: #808080;
            box-sizing: border-box;
            &.to{
              background-color: #e6e5e7;
            }
          }
        }
      }
      .content{
        resize: none;
        width: 98%;
        margin-left: 1%;
        box-sizing: border-box;
        height: 370px;
        border: none;
        font-family: 'SFUIDisplay-Light';
        background-color: #f6f5f7;
        padding: 13px;
        color: #808080;
        font-size: 16pt;
        margin-bottom: 10px;
      }
      .submit-form{
        background-color: #90cb9f;
        padding: 8px 24px;
        color: white;
        text-decoration:none;
        box-sizing: border-box;
        border-radius: 2px;
        float: right;
        margin-right: 1%;
        cursor: pointer;
      }
    }
  }
  
}